.slideChildrenContainer--HomeSlider
  :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
  height: auto;
}
.sliderTrackContainer--carousel-content {
  display: none;
}
.sliderArrows--carousel-content {
  position: relative;
}
.sliderLayoutContainer--carousel-content {
  width: fit-content;
  margin-left: auto;
  margin-bottom: 20px;
}
.caretIcon {
  color: #f96700;
}

.imageElementLink--HomeSlider {
  width: 100%;
  display: block;
}

.sliderLayoutContainer--carouselWishlist {
  max-width: 1570px;
  margin: 0 auto 100px;
}

.sliderLayoutContainer--carouselWishlist
  :global(.vtex-product-summary-2-x-image) {
  max-width: unset;
  height: 344px !important;
}

.sliderLayoutContainer--carouselWishlist
  :global(.vtex-stack-layout-0-x-stackContainer) {
  height: 344px !important;
}

@media (max-width: 1023px) {
  .sliderArrows--HomeSlider {
    display: none;
  }
  .paginationDotsContainer {
    background: #d9d9d9;
    max-width: fit-content;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 21px;
  }

  .paginationDotsContainer .paginationDot {
    width: 82px !important;
    height: 7px !important;
    border-radius: 3px !important;
    margin: 0;
    transform: none;
  }

  .paginationDotsContainer .paginationDot--isActive {
    background-color: #f96700 !important;
  }

  .sliderLayoutContainer--pdp-mobile-shelf-hide {
    display: none;
  }

  .paginationDotsContainer--veja-mais {
    bottom: -23px;
  }
}
