@media (max-width:768px) {
    .footerLayoutSpacer {
        margin-top: 40px;
    }
}

.footerLayout {
    background-color: #131313;
    display: flex;
    flex-direction: column;
    justify-content: center;
}