.slideChildrenContainer--HomeSlider :global(.vtex-store-components-3-x-imageElement){
    width: 100%;
    height: auto;
}
.sliderTrackContainer--carousel-content{
    display: none;
}
.sliderArrows--carousel-content {
    position: relative;
}
.sliderLayoutContainer--carousel-content{
    width: fit-content;
    margin-left: auto;
    margin-bottom: 20px;
}
.caretIcon{
    color: #F96700;
}

.imageElementLink--HomeSlider {
    width: 100%;
    display: block;
}

.sliderLayoutContainer--carouselWishlist {
    max-width: 1570px;
    margin: 0 auto 100px;
}

.sliderLayoutContainer--carouselWishlist :global(.vtex-product-summary-2-x-image) {
    max-width: unset;
    height: 344px !important;
}

.sliderLayoutContainer--carouselWishlist :global(.vtex-stack-layout-0-x-stackContainer) {
    height: 344px !important;
}