.product-identifier--skuReferenceId {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

.product-identifier--productReference {
  margin-bottom: 30px;
  display: block;
}

@media (max-width: 768px) {
  .product-identifier--skuReferenceId {
    padding-left: 10px;
    margin: 0 0 10px;
    font-size: 13px;
  }

  .product-identifier--productReference {
    margin-bottom: 30px;
    display: block;
    padding-left: 10px;
    font-size: 13px;
  }
}
