.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.homeLink {
  display: flex;
}

.homeLink .homeIcon {
  display: none;
}

.homeLink::after {
  content: "Home";
  text-transform: uppercase;
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 12px;
  margin-bottom: -4px;
  color: #b1b1b1;
}

.arrow .caretIcon {
  display: none;
}

.arrow::before {
  content: "|";
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 12px;
  margin-right: 8px;
}

.link {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  color: #b1b1b1;
  min-width: fit-content;
}

.arrow {
  padding: 0;
  color: #b1b1b1;
  min-width: fit-content;
}

.container .arrow:last-child .link {
  color: #f96700;
}

.term {
  font-family: "Roboto Condensed";
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #f96700;
  padding: 0;
  margin-top: 4px;
  margin-left: -7px;
}
