.paragraph--MenuLink {
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
  text-transform: uppercase;
}

.container--MenuLink::after {
  content: "";
  height: 22px;
  width: 2px;
  background-color: black;
  position: relative;
  top: calc(38px / 2);
  left: 13px;
}

.container--LastMenuLink {
  padding-right: 1.2rem;
}

.container--LastMenuLink::after {
  display: none;
}

.headingLevel2--BrandTitle {
  margin-bottom: 0px;
  color: #f96700;
  font-family: "Roboto", sans-serif;
  font-variant: small-caps;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.paragraph--BrandTitle {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper--LojasBalishoes .headingLevel2 {
  color: #f96700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
}

.wrapper--LojasBalishoes .headingLevel4 {
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.wrapper--LojasBalishoes .headingLevel3 {
  height: 39px;
  width: 187px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-variant: all-small-caps;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 135px;
}

.wrapper--LojasBalishoes .headingLevel3 .link {
  color: #fff;
  text-decoration: none;
}

.container--LojasBalishoes {
  width: 615px;
}

.container--Newsletter-title {
  width: 392px !important;
  height: 96px;
}

.paragraph--Newsletter-title {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.strong--Newsletter-title {
  color: #f96700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.italic--Newsletter-title {
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper--FooterLinks {
  color: #fff;
  font-family: "Roboto", "arial", "sans-serif";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  max-width: 465px;
}

.headingLevel2--FooterLinks {
  color: #f96700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 0;
}

.paragraph--footer-copyright {
  font-weight: 400;
  font-size: 10px;
  color: #a3a3a3;
  margin: 0;
  margin-right: 4px;
  margin-top: -6px;
}

.link--FooterLinks {
  color: #fff;
  font-family: "Roboto", "arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none !important;
}

.paragraph--TitleDefault {
  color: #f96700;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
}

.container--SubMenuTitle {
  color: #f96700;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
}
.container--TamanhosItem {
  min-width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border: 1px solid #231f20;
  margin: 5px;
}
.paragraph--SubMenuTitle {
  margin-bottom: 10px;
}
.container--RoupasItem {
  margin-right: 10px;
}
.paragraph--UnderwearItem,
.paragraph--AcessItem {
  margin-bottom: 0px;
}
.paragraph--userMenuLink {
  margin: 0px;
}
.container--userMenuLink {
  display: flex;
  align-items: center;
}
.container--lastItem {
  padding-left: 10px;
}
.wrapper--userMenuBorder {
  border-right: 1px solid black;
  padding: 0px 10px;
}
.container--VerMais {
  background-color: #000;
  color: white;
  font-weight: 300;
  width: fit-content;
  text-transform: uppercase;
  padding: 2px 10px;
  float: right;
  right: 120px;
  position: relative;
  bottom: -38px;
}
.container--TitleDefault {
  position: relative;
  top: 70px;
}
.paragraph--VerMais {
  margin: 5px 0px;
}
.paragraph--UnderwearItem,
.paragraph--RoupasItem {
  margin: 5px 0px;
}
.container--Institutions {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.paragraph--como-chegar-loja,
.paragraph--botao-wharsapp-loja {
  margin-bottom: 0;
}

.paragraph--Gallery-title {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 10.24px;
  text-transform: uppercase;
  margin: 0 0 22px 0;
}
