.flexRowContent--DesktopHeader {
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
}

.flexRowContent--MenuRow {
  gap: 0.8rem;
  align-items: center;
  margin-top: 15px;
}

.flexRowContent--CardHome {
  margin: 75px auto;
  justify-content: space-around;
  max-width: 1770px;
  position: relative;
}

.flexRowContent--CardHome .stretchChildrenWidth {
  width: 134px !important;
  height: 134px;
  display: flex;
  flex-direction: columns;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.flexRowContent--CardHome {
  position: relative;
}

.flexRowContent--CardHome .flexRowContent--CardHome-Cap::after {
  content: "Bonés";
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: -50px;
  left: 30%;
}

.flexRowContent--CardHome-card {
  position: relative;
}

.flexRowContent--CardHome .flexRowContent--CardHome-tshirt::after {
  content: "Camiseta";
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.flexRowContent--CardHome .flexRowContent--CardHome-sneakers::after {
  content: "Tênis";
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.flexRowContent--CardHome .flexRowContent--CardHome-jacket::after {
  content: "Moletom";
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.flexRowContent--CardHome .flexRowContent--CardHome-cargo::after {
  content: "Calça";
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.flexRowContent--CardHome .flexRowContent--CardHome-shoulder-bag::after {
  content: "Acessórios";
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.flexRowContent--CardHome .flexRowContent--CardHome-price-tag::after {
  content: "Promoções";
  color: #a00;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.flexRowContent--BrandLine {
  gap: 1.2rem;
}

.flexRowContent--BrandLine .stretchChildrenWidth {
  border: 3px solid transparent;
  width: 110.41px;
  height: 115.41px;
}

.flexRowContent--BrandLine .stretchChildrenWidth:hover {
  border: 3px solid #f96700 !important;
}

.flexRowContent--BrandLine :global(.vtex-store-components-3-x-imageElement) {
  width: 110.41px;
  height: 110.41px;
}

.flexRowContent--Balilook-grid {
  gap: 8px;
}

.flexRowContent--Balilook-grid
  :global(.vtex-store-components-3-x-imageElement) {
  height: 100%;
}

.flexRowContent--Gallery-Style {
  gap: 8px;
}

.flexRow--Gallery-Style {
  margin-top: 5px;
}

.flexRowContent--LojasBali {
  align-items: center;
  justify-content: space-between;
  margin-top: 85px;
  max-width: 1565px;
  margin: 15px auto;
}

.flexRowContent--Newsletter-Box {
  align-items: center;
  height: 114px;
  background-color: #232323;
  justify-content: center;
  gap: 82px;
}

.flexRowContent--Footer {
  background: #131313;
  padding-top: 55px;
}

.flexRowContent--Footer :global(.vtex-store-components-3-x-imageElementLink) {
  display: flex;
  align-items: center;
}

/* .flexRow--Footer :global(.vtex-store-components-3-x-container),
.flexRow--LojasBali :global(.vtex-store-components-3-x-container),
.flexRow--Newsletter-Box :global(.vtex-store-components-3-x-container),
.flexRow--Gallery-Style :global(.vtex-store-components-3-x-container) .flexRow--BrandsLine :global(.vtex-store-components-3-x-container) .flexRow--CardHome :global(.vtex-store-components-3-x-container) {
    max-width: 1700px;
    width: 100%;
} */

.flexRowContent--Footer {
  justify-content: space-around;
}

.flexRowContent--footer-copyright {
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.flexRow--DesktopHeader {
  background-color: white;
}

.flexColChild--GalleryCont
  :global(.vtex-search-result-3-x-gallery)
  :global(.vtex-search-result-3-x-galleryItem)
  :global(.vtex-button) {
  width: 100%;
}

.flexRow--TenisBrands-F,
.flexRow--TenisBrands-S,
.flexRow--TenisBrands-T,
.flexRow--TenisBrands-FO {
  margin-bottom: 32px;
}

.flexRowContent--TenisBrands :global(.vtex-store-components-3-x-imageElement) {
  min-width: 30px !important;
}

.flexRow--TenisBrands {
  width: fit-content;
}

.flexColChild--TenisCol {
  width: fit-content;
}

.flexRowContent--TenisBrands {
  gap: 16px;
}

.flexCol--TenisCol {
  align-items: center;
}

.flexRow--Tamanhos-row .stretchChildrenWidth {
  width: fit-content !important;
}

.flexRowContent--Tamanhos-row {
  width: 174px;
  flex-wrap: wrap;
}

.flexCol--Tamanhos-row {
  align-items: center;
}

.flexRowContent--MainRowStyle {
  gap: 55px;
}

.flexCol--TypesRoupas {
  height: 243px;
  flex-wrap: wrap;
}

.flexColChild--TypesRoupas {
  height: fit-content !important;
}

.flexCol--ContentLine-f {
  align-items: start;
  width: fit-content;
}

.flexCol--MainAcess {
  height: 250px;
  flex-wrap: wrap;
}

.flexColChild--MainAcess {
  height: fit-content !important;
  margin-right: 55px;
}

.flexRowContent--ProductMain .stretchChildrenWidth {
  width: 30% !important;
  margin-left: auto;
}

.flexRowContent--ProductTitle .stretchChildrenWidth:last-child {
  margin-top: 20px;
  width: 100% !important;
}

.flexRowContent--ProductMain .stretchChildrenWidth:first-child {
  width: 60% !important;
  margin-left: 0px !important;
}

.flexRowContent--ProductMain :global(.vtex-store-components-3-x-thumbImg) {
  height: 100%;
  width: auto !important;
}

.flexRowContent--ProductMain :global(.vtex-store-components-3-x-figure) {
  height: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flexRowContent--ProductMain
  :global(.vtex-store-components-3-x-carouselContainer) {
  background-color: white;
}

.flexRowContent--ProductDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRowContent--ProductDetails
  :global(.vtex-store-components-3-x-productNameContainer),
:global(.vtex-store-components-3-x-productDescriptionTitle) {
  text-align: center;
}

.flexRowContent--BuyButton {
  gap: 25px;
  margin-bottom: 15px;
}

.flexRowContent--BuyButton :global(.vtex-button) {
  background: #f96700;
  border-color: #f96700;
  border-radius: 0px;
  width: 327px;
  margin-left: -20px;
}

.flexCol--MainProd {
  gap: 10px;
}

.flexCol--ProductPrice {
  gap: 10px;
}

.flexRow--Anun {
  background-color: black;
  height: 32px;
}

.flexRowContent--Anun {
  justify-content: space-around;
  height: 32px;
  margin: 0 auto;
}

.flexRowContent--Anun :global(.vtex-rich-text-0-x-container) {
  color: white;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-variant: all-small-caps;
}

.flexRowContent--Anun :global(.vtex-rich-text-0-x-strong) {
  font-weight: 700;
  font-size: 16px;
}

.flexRowContent--Anun :global(.vtex-rich-text-0-x-paragraph) {
  margin: auto 0px;
}

.flexRowContent--Anun :global(.vtex-rich-text-0-x-wrapper) {
  margin: auto 0px;
}

.flexRowContent--ProductTitle {
  display: flex;
  flex-direction: column;
}

.flexRowContent--ProductTitle .stretchChildrenWidth {
  width: fit-content !important;
  gap: 10px;
}

.flexRowContent--DesktopHeader .flexRowContent--DesktopHeader,
.flexRowContent--BrandsLine,
.flexRowContent--ProductMain,
.flexRowContent--Gallery-Style,
.flexRowContent--Anun,
.flexRowContent--ShelfContainer {
  max-width: 1560px;
}

.flexRowContent--ShelfContainer,
.flexRowContent--BrandsLine,
.flexRowContent--Gallery-Style,
.flexRowContent--ProductMain {
  margin: 0 auto;
}

.flexRowContent--ProductMain {
  margin-top: 35px;
}

.flexRowContent--Balilook-grid-Container {
  display: flex;
  flex-direction: row;
}

.flexRowContent--Balilook-grid-Container {
  margin: 10px auto;
  gap: 8px;
}

@media (max-width: 768px) {
  .flexRowContent--BrandLine .stretchChildrenWidth:hover {
    border: 3px solid transparent !important;
  }

  .flexRowContent--main-header-mobile {
    justify-content: space-between;
    background-color: white;
    padding: 5px 0px;
    align-items: center;
  }

  .flexRowContent--CardHome {
    display: flex;
    flex-wrap: wrap;
    column-gap: 19px;
    row-gap: 48px;
    justify-content: flex-start;
    max-width: 350px;
    margin: 17px auto;
  }

  .flexRowContent--CardHome .stretchChildrenWidth {
    width: 74px !important;
    height: 74px !important;
  }

  .flexRowContent--CardHome .stretchChildrenWidth:last-child {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
  }

  .flexRowContent--CardHome .stretchChildrenWidth .stretchChildrenWidth {
    position: initial;
  }

  .flexRowContent--CardHome
    .stretchChildrenWidth
    :global(.vtex-store-components-3-x-imageElement--CardHome) {
    width: 40px;
    height: auto;
  }

  .flexRowContent--Gallery-Style {
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--CardHome-card {
    position: relative;
  }

  .flexRowContent--CardHome-card::after {
    font-size: 13px !important;
    bottom: 5px !important;
  }

  .flexRowContent--CardHome-card .stretchChildrenWidth {
    margin-bottom: -71px;
  }

  .flexRowContent--BrandLine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
    padding: 0 10px;
  }

  .flexRowContent--BrandLine .stretchChildrenWidth {
    height: auto;
  }

  .flexRowContent--BrandLine :global(.vtex-store-components-3-x-imageElement) {
    width: fit-content;
    height: fit-content;
  }

  .flexRowContent--ProductMain {
    display: flex;
    flex-direction: column;
  }

  .flexRowContent--ProductMain .stretchChildrenWidth {
    width: 100% !important;
  }

  .flexRow--Footer {
    background: #131313;
  }

  .flexRowContent--Footer {
    transform: scale(0.9);
    padding-top: 0;
  }

  .flexRowContent--BuyButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }

  .flexRowContent--ProductMain .stretchChildrenWidth:first-child {
    width: 95% !important;
    margin: 0 auto;
    margin-left: auto !important;
  }

  .flexRowContent--BuyButton :global(.vtex-button) {
    height: 48px;
    width: 260px;
  }

  .flexRowContent--BuyButton {
    justify-content: flex-start;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .flexCol--ProductPrice {
    padding-left: 10px;
  }

  .flexRowContent--Balilook-grid-Container {
    margin: 2.5px auto;
    padding: 0 10px;
  }
}

.flexRowContent--ProductMain {
  max-width: 1400px;
  margin: 35px auto;
}

/* .flexRow--ShelfContainer{
    max-width: 1400px;
    margin: 0 auto;
} */
.flexRowContent--UserMenu {
  justify-content: end;
}

.flexCol--Balilook-small-images {
  gap: 8px;
}

.flexCol--TenisCol {
  margin-right: 30px;
  margin-top: -15px;
}

.flexRow--overlay-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 160px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  display: none;
}

:global(.vtex-flex-layout-0-x-flexCol--ShelfDefault) {
  padding: 0px 20px;
}

:global(.vtex-store-components-3-x-productDescriptionTitle) {
  font-family: "Roboto Condensed", sans-serif;
}
:global(.vtex-product-price-1-x-installments) {
  font-family: "Roboto Condensed", sans-serif;
}

:global(.vtex-store-components-3-x-sellingPriceValue) {
  font-family: "Roboto Condensed", sans-serif;
}
:global(.vtex-store-components-3-x-productBrand) {
  font-family: "Roboto Condensed", sans-serif;
}

:global(.vtex-menu-2-x-styledLinkContent) {
  font-family: "Roboto Condensed", sans-serif;
}

:global(.vtex-rich-text-0-x-paragraph--userMenuLink) {
  font-family: "Roboto Condensed", sans-serif;
}

:global(.vtex-flex-layout-0-x-flexRowContent--Anun)
  :global(.vtex-rich-text-0-x-paragraph) {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--Anun)
  :global(.vtex-rich-text-0-x-strong) {
  font-size: 16px !important;
  font-family: "Roboto Condensed", sans-serif;
}

:global(.vtex-search-result-3-x-filterTitleSpan) {
  font-family: "Roboto Condensed", sans-serif;
}

:global(.vtex-search-result-3-x-filterItem) :global(.vtex-checkbox__label) {
  font-family: "Roboto Condensed", sans-serif !important;
}
:global(.vtex-product-summary-2-x-productBrand) {
  font-family: "Roboto Condensed", sans-serif;
}

:global(.vtex-flex-layout-0-x-flexRowContent--Anun) {
  max-width: 1200px;
}
@media (min-width: 860px) {
  :global(.vtex-rich-text-0-x-container--LojasBalishoes) {
    margin-left: 75px;
  }

  :global(.vtex-flex-layout-0-x-flexRow--BrandsLine),
  :global(.vtex-flex-layout-0-x-flexRow--Gallery-Style) {
    padding: 0px 20px;
  }
  :global(.vtex-search-result-3-x-container--layout) {
    padding: 0px 20px;
  }

  :global(.vtex-store-components-3-x-skuSelectorItemImage) {
    width: 70px !important;
    height: 70px !important;
  }
}

.flexCol--product-right-container
  :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  justify-content: flex-start;
}

.flexRow--product-mobile-container
  :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
  justify-content: flex-start;
}

.flexRowContent--TenisCol {
  border-right: 1px solid #CECECE;
}