.listPriceContainer {
    display: none;
}

.sellingPriceLabel {
    display: none;
}

.price_interestRate {
    display: none;
}

.priceContainer {
    align-items: start;
    text-align: start;
}

.nameContainer {
    padding: 0px;
    padding-bottom: 5px;
    white-space: nowrap;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    justify-content: center;
    height: 48px;
}

.image {
    height: 488px;
    width: auto;
    max-height: unset;
    max-width: unset;
}

.price_sellingPrice {
    padding: 0px;
}

.productBrandContainer {
    text-align: start;
}

.buyButton :global(.vtex-button) {
    border-radius: 0px;
    background-color: black;
    border: none;
}

.buyButtonText {
    font-size: 0px;
}

.buyButtonText::after {
    content: 'EU QUERO';
    color: #FFF;
    font-family: 'Roboto' Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.brandName {
    height: 48px;
    text-align: start;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.productBrandName {
    color: #B1B1B1;
    font-family: 'Roboto' Condensed;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-weight: 400;
    padding-top: 31px;

}

.productBrand {
    text-transform: uppercase;
    width: 100%;
    display: block;
    white-space: break-spaces;
}

.productBrandContainer {
    padding-top: 15px;
}

.priceContainer {
    padding: 15px 0px;
}

.price_sellingPrice {
    color: #F96700;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
}

.price_installmentContainer {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.container {
    border: 1px solid lightgray;
    padding: 10px 10px;
    max-width: 406px !important;
    margin: 0 8px;
    border-radius: 0px;
    padding-bottom: 7px;

}

.container:hover {
    transition: 0.2s;

    border: 1px solid black;
}

.container:hover .buyButton :global(.vtex-button) {
    background-color: #F96700;
    transition: 0.2s;
}

.element {
    padding: 0px;
    justify-content: space-between;
}

@media (max-width:768px) {
    .image {
        width: 100%;
        height: auto;
    }
}

.imageNormal {
    min-height: 17.56rem;
}
.priceContainer{
    align-items: center;
    justify-content: center;
    padding: 0px;
}

.productBrandContainer{
    display: none;
}