.submenuWrapper {
    width: 100vw;
    left: 0px;
    top: 68px;
    z-index: 50;
}

.submenuContainer {
    left: 0;
    position: absolute;
}

.menuItem {
    border-right: 2px solid black;
    height: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.styledLinkContainer {
    padding: 0px;

}

.styledLinkContent {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.styledLinkContainer {
    margin-left: 0.9rem;
    margin-right: 0.9rem
}

/* .submenu{
    display: none;
} */
@media (max-width:768px) {
    .menuContainerNav {
        width: 100%;
        height: 50vh;
    }

    .menuContainer {
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }

    .menuItem {
        border: none;
    }
}

@media screen and (max-width:1600px) {
    .submenuContainer .menuContainer {
        transform: scale(0.7) translateY(-27%);
        width: 1620px;
        justify-content: center;
    }

    :global(.vtex-menu-2-x-submenuWrapper) {
        max-height: 260px;
    }
}

@media screen and (max-width:1200px) {
    .submenuContainer .menuContainer {
        transform: scale(0.6) translateY(-40%);
        width: 1620px;
        justify-content: center;
    }

    :global(.vtex-menu-2-x-submenuWrapper) {
        max-height: 220px;
    }
}