.link--Gallery-link {
  padding: 20px 60px;
  border: 1px solid #fff;
  background-color: transparent;
  display: block;
  text-decoration: none;
  margin-bottom: 79px;
}

.label--Gallery-link {
  color: #fff;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .link--Gallery-link {
    margin-bottom: 13px;
    width: 196px;
    height: 39px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed';
    font-weight: 500;
    font-size: 16px;
    background-color: #000;
    border: none;
  }
}
