.ContainerMegaMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 36.67px;
  border-right: 1px solid #cecece;
  height: 100%;
}

.ContainerMegaMenu:not(:first) {
  border-right: none;
}

.ContainerMegaMenu > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 185px;
  gap: 15px;
  max-width: 223px;
}

.ContainerMegaMenu > div a {
  font-size: 16px;
  font-weight: 400;
  color: #231f20;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}

.ContainerMegaMenu > div a.MoreClass {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.ContainerAccesMasc > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 215px;
  gap: 15px;
  max-width: 223px;
}

.ContainerMegaMenu > div a.OfferClass {
  font-size: 16px;
  font-weight: 700;
  color: #f96700;
}

.ContainerMenuMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ContainerRoupaFemi > div {
  height: 225px;
}

.ContainerRoupaPluss > div {
  height: 125px;
}

.ContainerMegaMenu h1 {
  color: #f96700;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

.ContainerColor > div {
  height: 160px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0px;
}

.ContainerTam > div {
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0px;
  max-width: 148px;
}

.ContainerTam > div a,
.ContainerColor > div a {
  width: 32px;
  height: 32px;
  display: block;
  background-color: transparent;
  border-radius: 7px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #231f20;
  text-decoration: none;
  margin: 2.5px;
}

.ContainerTam > div a {
  border-radius: 0;
}

.ContainerColor > div {
  height: 140px;
  border: none;
}

.ContainerColor > div a {
  border: none;
}

.ContainerAccesMasc {
  padding-right: 52px;
}

.ContainerRoupaInfantil > div {
  height: 145px;
}

/* .ContainerTenis {
    width: 760px;
} */

.vtex-menu-2-x-menuItem .vtex-flex-layout-0-x-flexRow--overlay-menu:hover,
.vtex-menu-2-x-menuItem:hover .vtex-flex-layout-0-x-flexRow--overlay-menu {
  display: block !important;
}
/* .ContainerMenuUni{
    width: 1120px;
}
.ContainerAcessMenu{
    width:760px;
}
.ContainerUnderMain{
    width: 1220px;
} */

.ContainerRoupaFemi,
.ContainerRoupaFemi,
.ContainerRoupaUnder,
.ContainerRoupaInf {
  padding-right: 50px;
}

:global(.vtex-flex-layout-0-x-flexRow--MenuRow)
  :global(.vtex-menu-2-x-menuItem)
  :global(.vtex-menu-2-x-styledLinkContainer) {
  position: relative;
}

:global(.vtex-flex-layout-0-x-flexRow--MenuRow)
  :global(.vtex-menu-2-x-menuItem)
  :global(.vtex-menu-2-x-styledLinkContainer)::after {
  content: "";
  display: block;
  height: 59px;
  width: 100%;
  position: absolute;
  bottom: -59px;
  left: 0;
}
