.malSfFlagDiscountMain {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1051;
}

.malSfFlagDiscountWp {
    position: relative;
    width: 40px;
    height: 73px;
    background-image: url('../../assets/imgs/mal-bg-black-flag-off.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.malSfFlagDiscountLine {
    color: #ffffff;
    display: block;
    width: 100%;
    font-size: 0.9375rem;
    font-weight: 700;
    line-height: 1.0625rem;
    padding: 15px 0 0 0;
    text-align: center;
    text-transform: uppercase;
}